.gx-page-error-container {
    position: relative;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .gx-page-error-content {
    margin: 0 auto;
    width: 380px;
    max-width: 94%;
  }
  .gx-page-error-content h2 {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    .gx-page-error-content h2 {
      margin-bottom: 20px;
    }
  }
  .gx-error-code {
    color: #595959;
    font-size: 160px;
    text-align: center;
    line-height: 1;
    font-weight: 500;
    text-shadow: 10px 6px 8px rgba(117, 117, 117, 0.8);
  }
  @media screen and (max-width: 991px) {
    .gx-error-code {
      font-size: 130px;
    }
  }
  @media screen and (max-width: 767px) {
    .gx-error-code {
      font-size: 100px;
    }
  }
  @media screen and (max-width: 575px) {
    .gx-error-code {
      font-size: 80px;
    }
  }

  .gx-text-center {
    text-align: center !important;
  }

  .gx-mb-4,
.gx-my-4 {
  margin-bottom: 1.5rem !important;
  margin-top: 2.5rem !important;
}